<h1>Asciify하기</h1>
<form action = '/asciify/show'>
    <input type = 'text' name = 'input'>
    <select name = 'font'>
      <option value='slant'>slant</option>
      <option value='big'>big</option>
      <option value='thin'>thin</option>
    </select><br>
     <input type="radio" name="font" value="sligt"> slant<br>
     <input type="radio" name="font" value="bog"> big<br>
     <input type="radio" name="font" value="thin"> thin<br>

    <input type = 'submit' value = '변경하기'>
</form>